<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>

<body>

    <div id="demo"></div>

    <script>



        const consoleDiv = document.getElementById("console");
        const consoleProxy = new Proxy(console, {
            get(target, prop) {
                if (prop === "log" || prop === "error" || prop === "warn") {
                    return (...args) => {
                        const message = args.join(" ");
                        window.parent.postMessage({ typ: "console", prop, message }, "*");
                        target[prop](...args);
                    };
                }
                return target[prop];
            },
        });

        window.console = consoleProxy;
        window.addEventListener("error", (e) => console.log(e.error));

        function setHTML(parent, html) {
            const dummy = parent.cloneNode(false);
            dummy.innerHTML = html;

            if (dummy.children.length === 0) {
                parent.innerHTML = html;
            } else {
                for (const child of dummy.childNodes) {
                    if (child.nodeType == Node.TEXT_NODE) {
                        parent.appendChild(document.createTextNode(child.textContent));
                        continue;
                    }
                    if (child.nodeType !== Node.ELEMENT_NODE) {
                        continue;
                    }

                    const namespaceURI = child.namespaceURI;

                    const clone =
                        namespaceURI !== "http://www.w3.org/1999/xhtml"
                            ? document.createElementNS(namespaceURI, child.nodeName)
                            : document.createElement(child.nodeName);

                    for (const { nodeName, nodeValue } of child.attributes) {
                        try {
                            clone.setAttribute(nodeName, nodeValue);
                        } catch (e) {
                            console.error(e);
                        }
                    }

                    if (child.children.length === 0) {
                        if (child.nodeName === "SCRIPT") {
                            if (child.text) {
                                clone.text = child.text;
                            }
                        } else {
                            if (child.innerHTML) {
                                clone.innerHTML = child.innerHTML;
                            }
                        }
                    } else {
                        setHTML(clone, child.innerHTML);
                    }
                    parent.appendChild(clone);
                }
            }
        }

        let initialized = false;
        function init(state) {
            if (initialized) {
                return;
            }
            window.parent.postMessage({ typ: "console", prop: "clear" }, "*");

            const style = document.createElement("style");
            style.textContent = state.css;
            document.head.appendChild(style);

            document.body.innerHTML = "";
            setHTML(document.body, state.html);

            const script = document.createElement("script");
            script.textContent = state.js;
            document.body.appendChild(script);

            dispatchEvent(new Event("DOMContentLoaded"));
            dispatchEvent(new Event("load"));
            initialized = true;
        }
        window.addEventListener("message", (event) => {
            const e = event.data;
            if (e.typ === "init") {
                init(e.state);
            }
            if (e.typ === "reload") {
                window.location.reload();
            }
        });
        const searchParams = new URLSearchParams(location.search);
        const ready = () => {
            window.parent.postMessage(
                {
                    typ: "ready",
                    prop: Object.fromEntries(searchParams.entries()),
                },
                "*"
            );
        };
        window.addEventListener("DOMContentLoaded", ready);






        //最基本的使用方式形式定义如下
        new Codepencil(document.querySelector('#demo'), {
            //外部css和js的路径
            paths: {
                css: [
                    'bootstrap.min.css'
                ],
                js: [
                    'jquery.min.js'
                ]
            },
            //html css js result console 其中之一
            active: ['html'],
            //断点视口
            breakpoint: 576,
            //html字符串
            html: '',
            //css样式
            css: '',
            //js代码
            js: '',
        });
    </script>
</body>

</html>