<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/css/codepencil.css">
    <title>Document</title>
</head>

<body>
    <div id="demo">demo</div>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <h1>dsadad</h1>
    <script src="../../dist/js/codepencil.js"></script>
    <script>

        new Codepencil(document.querySelector('#demo'), {
            //外部css和js的路径
            paths: {
                css: [
                    'bootstrap.min.css'
                ],
                js: [
                    'jquery.min.js'
                ]
            },
            //多选
            multiple: false,
            //初始化后立马运行
            runAway: false,
            //自动运行
            autoRun: true,
            //html css js result console 其中之一
            active: ['html', 'css', 'js', 'result', 'console'],
            //断点视口
            breakpoint: 1200,
            //html字符串
            html: `<button type="button" class="btn btn-primary">Primary</button>`,
            //css样式
            css: '',
            //js代码
            js: `$(document).on('click','button',function(){
    console.log('button clicked!');
})`,
        });

    </script>
</body>

</html>