<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button>fdsdf</button>
    <script>
        const consoleProxy = new Proxy(console, {
            get(target, prop) {
                if (prop === "log" || prop === "error" || prop === "warn") {
                    return (...args) => {
                        const message = args.join(" ");

                        alert(1)

                        window.parent.postMessage({ typ: "console", prop, message }, "*");
                        target[prop](...args);
                    };
                }
                return target[prop];
            },
        });

        window.console = consoleProxy;
    </script>
</body>

</html>